<!--gen new {{PROJECT NAME}}-->
<!--Generates a new project using scss styling-->

<!--gen new {{PROJECT NAME}} &#45;&#45;style:css-->
<!--Generates a new project using css styling-->

<!--gen -c {{COMPONENT NAME}}-->
<!--Generates a new component using scss styling-->

<!--gen -c {{COMPONENT NAME}} &#45;&#45;style:css-->
<!--Generates a new component using css styling-->

<div class="container" id="wrapper">
    <header class="row" id="header">
        <div class="col-12 text-center">
            <h1 class="display-4">TODO IT!</h1>
        </div>
    </header>

    <main class="row" id="main">
        <div class="col-12">
            <todolist></todolist>
        </div>
    </main>

    <footer class="row" id="footer">
        <div class="col-12">
            <a href="#">Go to Repository</a>
        </div>
    </footer>
</div>
